.discussions-list {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  flex: 1;
}

.addFriend {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
}

.addFriend button {
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
  background-color: var(--third-color);
  border: 1px solid white;
  border-radius: 4px;
}

/* Écran moyen (tablettes) */
@media (max-width: 768px) {
  .discussions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
