.message-side {
  width: 100%;
  display: flex;
  justify-content: start;
}

.message-side.mind {
  justify-content: end;
}

.message-side-message-bulle.mind {
  background-color: rgb(149, 149, 149);
}

.message-side-message {
  margin: 10px 0;
  min-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: end;
}

.message-side-message p {
  color: white;
}

.message-side-message-bulle {
  z-index: 1;
  background-color: var(--third-color);
  flex: 1;
  border-radius: 30px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  padding: 15px;
  text-align: start;
}

.message-side-message-bulle p {
  color: white;
  font-size: 18px;
}

/* Écran moyen (tablettes) */
@media (max-width: 768px) {
  .message-side-message-bulle {
    padding: 5px 10px;
  }

  .message-side-message-bulle p {
    font-size: 14px;
  }

  .message-side-message {
    gap: 0px;
  }
}
