.button {
  background-color: var(--third-color);
  padding: 4px 20px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  z-index: 0;
  cursor: pointer;
  justify-content: space-between;
}

.button p {
  user-select: none;
  margin: auto 0;
}

.button-icon {
  color: white;
  margin: auto 0;
}
